
#main_div {
    margin-top: 3em;
    box-shadow: none;
    background: none;
}
#main_div #details{
    box-shadow: none;
    background:none;
}
    #main_div h1 {
        font-family: sans-serif;
        font-size: 34px;
    }
    #main_div img{
        width:100%;
    }
    #main_div p {
        font-style: inherit;
        font-family: sans-serif;
        font-size: 16px;
        color: black;
        word-spacing: 1px;
    }
    #main_div p span{
        margin-right:1em;
    }
        #main_div p span > #fb {
            height: 35px;
            width: 50px;
            color: #0000ff9c;
        }
        #main_div p span > #tw {
            height: 40px;
            width: 70px;
            color: #03a9f4;
        }
        #main_div p span > #pt {
            height: 40px;
            width: 70px;
            color: #df0a53;
        }
#main_div #popular hr {
    height: 3px;
    background-color: #34ba34b3;
    margin-top: -0.8em;
    margin-left: 5em;
    width: 65%;
}

#main_div #popular p {
    font-style: inherit;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 17px;
}

#main_div .popular_Data {
    display: flex;
    margin-top: 3em;
}

   #main_div .popular_Data h2 {
        font-size: 15px;
        padding-left: 1em;
        font-family: auto;
        font-weight: bolder;
        padding-bottom: 3em;
    }

   #main_div .popular_Data img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-size: cover;
    }

   #main_div .popular_Data a {
        display: flex;
        flex-direction: row;
        background: none;
        height: 30px;
    }